.timeline {	
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    clear:both;
    height: 80%;
    background-color: rgb(161, 167, 167);
}
.news {
    margin-left: 2%;
    margin-top: 1%;
    height: 95%;
    width: 73%;
    border: 1px solid #000;
    background-color: #ffffff;
    float: left;
}
.news img {
    margin-left: 3%;
    height: 80%;
    width: 94%;
}
.news p {
    margin-left: 3%;
}
/**/
.prof, .navig {
    display: inline-block;
}
.prof {
    border: 1px solid #000;
    float: left;
    width: 20%;
    height: 50%;
    margin-left: 3%;
    margin-top: 1%;
    background-color: #ffffff;
}
.prof img {
    height: 60%;
    width: 50%;
    border-radius: 100px;
    border: 1px solid rgb(23, 24, 23);
    margin-left: 25%;
    margin-top: 10%;
}
.prof p {
    height: 15%;
    width: 100%;
    font-size: 150%;
    text-align: center;
}

.navig {
    border: 1px solid #000;
    width: 20%;
    height: 42%;
    margin-left: 3%;
    margin-top: 1%;
    background-color: #ffffff;
    clear: left;
}
.navig p{
    border: 1px solid #000;

    padding-left: 2%;
    font-size: 150%;
}