.top-menu {	
    background-color: #ffffff;
    border: 1px solid #DDE0E6;
    clear:both;
    height: 10%;
}

.u-pages {
    width: 45%;
    text-align: left;	
    height: 90%;
    float: left;
    margin-left: 2%;
}
.u-pages img{
    height: 70%;
    padding-top: 2%;
}

.u-pages p {
    text-decoration: none;
    font-size: 150%;
    color: #353535;
}

.u-pages p, .u-pages img {
    float: left;
}

.actions {
    text-align: center;
    width: 20%;
    height: 100%;
    float: right;
}
.actions a {
    text-decoration: none;
    color: #808080;
    height: 70%;
}
.actions li {
    display: inline-block;
    height: 70%;
    padding-right: 10%; 
}
.actions p {
    font-size: 80%;
   
}
.actions img{
    
    height: 50%;
}

/**/
.lower-menu {	
    background-color: #FFFFFF;
    border: 1px solid #DDE0E6;
    height: 7%;
}

.left-menu {
    height: 100%;
    width: 50%;
    float: left;
}

.regular-block {
    width: 15%;
    height: 100%;
    float: left;
    margin-left: 3%;
}
.left-menu img {
    height: 50%;
    float: left;
    margin-right: 10%;
}
.left-menu a {
    text-decoration: none;
    color: #252424;
}

.right-menu {
    height: 100%;
    width: 40%;
    float: right;
}
.icons {
    width: 15%;
    height: 100%;
    float: right;
    margin-right: 2%;
    align-items: center;
}
.right-menu img {
    height: 50%;
    float: left;
    margin-right: 10%;
}
.right-menu a {
    text-decoration: none;
    color: #353535;
}

.timeline, .map-place, .timer {
    clear:both;
    height: 80%;
    background-color: #F4F7FB;
}


a.active {
    color: #2375E1;
}